
/* This css file is used for the all the html tables..
   Do not change keizer.css. If you want to add your own css, 
   put it into user.css. */

html {
 font-family: Arial, Helvetica, sans-serif;
 }

 h1, h2, h3 { 
  text-align: center; 
  margin: 10px;
}
 
.kfc-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.kfc-table td, .kfc-table th {
  border: 1px solid #ddd;
  padding: 0.9ex;
  text-align: center;
}

.kfc-table tr:nth-child(even){background-color: #f2f2f2;}

.kfc-table tr:hover {background-color: #ddd;}

.kfc-table .kfc-place-0 td {
  padding-top: 1.5ex;
  padding-bottom: 1.5ex;
  background-color: aliceblue;
}

.kfc-wrapper {
  margin: 20px auto;
  padding: 10px 15px 15px 15px;
  width: clamp(350px, 80%, 700px);
}

.kfc-h2-s2 { font-size: 80%; }

.kfc-exwrapper-01 { font-size: 12pt; }
.kfc-exwrapper-02 { font-size: 12pt; }
.kfc-exwrapper-03 { font-size: 12pt; }
.kfc-exwrapper-04 { font-size: 12pt; }
.kfc-exwrapper-05 { font-size: 12pt; }
.kfc-exwrapper-06 { font-size: 12pt; }
.kfc-exwrapper-07 { font-size: 12pt; }
.kfc-exwrapper-08 { font-size: 11pt; }
.kfc-exwrapper-09 { font-size: 11pt; }
.kfc-exwrapper-10 { font-size: 11pt; }
.kfc-exwrapper-11 { font-size: 10pt; }
.kfc-exwrapper-12 { font-size: 10pt; }
.kfc-exwrapper-13 { font-size: 10pt; }
.kfc-exwrapper-14 { font-size: 9pt; }
.kfc-exwrapper-15 { font-size: 9pt; }
.kfc-exwrapper-16 { font-size: 9pt; }
.kfc-exwrapper-17 { font-size: 8pt; }
.kfc-exwrapper-18 { font-size: 8pt; }
.kfc-exwrapper-19 { font-size: 8pt; }
.kfc-exwrapper-20 { font-size: 7pt; }

